body {
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #2E4973;
}


.hero-image {
  background-image: url("../../static/img/backg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@font-face {
  font-family: Nunto;
  src: url(../../static/font/nunito.ttf);
}
.text {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Nunito;
    top: 27%;
}

.hero-h1 {
    top: 23%;
    color: white;
}

.hero-h5 {
    top: 27%;
    color: rgba(255, 255, 255, 0.85);
}

.hero-h2 {
    top: 30%;
    color: #a50202;
    visibility: hidden;
}


.fake-hero {
  background-color: rgba(14, 25, 41, 0.8);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


.fake-hero img {
	position: absolute;
	top: 5%;
	left: 10%;
}



.url-link {
    box-sizing: border-box;
	position: absolute;
	left: 10%;
	top: 38%;
	width: 80%;
    height: 6%;
	background-color: #FFFFFF;
	border-radius: 10px;

  	/* horizontal layout */
  	display:flex;
  	flex-direction:row;
  	padding-left: 15px;
	}

	input {
    flex-grow:2;
  	border:none;
	}

	input:focus {
  	outline: none;
	}

	button {
	width: auto;
  	background:#628FD6;
  	color:white;
  	border-radius: 10px;
  	font-weight: bold;
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 0;
	}


@media screen and (max-width: 2560px) {
    button {
        width: 10%;
    }
}

@media screen and (max-width: 1440px) {
    button {
        width: 15%;
    }
}

@media screen and (max-width: 768px) {
    .hero-h5 {
        top: 28%;
    }
    button {
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    button {
        width: 35%;
    }
}


@media screen and (max-width: 440px) {
    .hero-h1 {
        top:20%;
    }
        .texts{
        top: 22%;
    }
}

@media screen and (max-width: 320px) {
    button {
        width: 40%;
    }
    .texts{
        top: 20%;
    }
}
